@model List<InternetCafe.Models.UsingViewModel>
@{
    Layout = "Manager_Layout";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="~/css/Manager/Home.css">
</head>
<body>
    <main class="mainsite mb-4">
        <div class="mainBox text-center">
            <span class="tableTitle">LIST USER ACTIVE</span>
            <div class="tableBox bg-white" id="listActiveTable">
                <table class="table mt-4">
                    <thead>
                        <tr>
                            <th class="userId">User ID</th>
                            <th class="userName">User Name</th>
                            <th class="compId">Computer ID</th>
                            <th class="compName">Computer Name</th>
                            <th class="startTime">StartTime</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            @foreach (var item in Model) {
                                <td>@item.UserId</td>
                                <td>@item.NameUser</td>
                                <td>@item.ComputerId</td>
                                <td>@item.ComputerName</td>
                                <td>@item.StartTime</td>
                            }
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </main>
    @section Scripts {
        <script src="~/js/Manager.js"></script>
    }
</body>
</html>